.company-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #499ef3;
  min-height: 100vh;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 30px;
  font-weight: 800;
  font-family: 'Segoe UI';
  font-size: 2.5rem;
}

p{
    color: rgb(255, 255, 255);
    font-family: 'Geneva';
    font-size: 2rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.student-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1e293b;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.student-card:hover {
  transform: translateY(-3px);
}

.card-section {
  flex: 1 1 30%;
  margin: 5px 10px;
  font-size: 16px;
}
